img{
  width: 500px;
  height: 700px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top:10px;
  margin-bottom:10px ;
}
.form{
  text-align: right;
  align-items: right;
}
.label{
  text-align: right;
}
input{
  text-align: right;
  padding: 10px;
  font-size: 10px;
}
mat-select{
  text-align: right;
  padding: 10px;
}
button{
  align-items: right;
  color: white;
  background-color: rgb(5, 107, 197);
  border: none;
  margin-top: 20px;
}
button:hover{
  color: black;
}
.input-field{
width: 450px;
margin: 5px;
}
section{
  overflow-x:hidden;
}

