  <section class="container">
    <div class="form">
      <div class="d-flex">
      <div class="input-field">
        <div>
          <mat-label class="label">رقم الهاتف - واتس آب</mat-label>
        </div>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput>
            </mat-form-field>
      </div>

      <div class="input-field">
      <div>
        <mat-label class="label">رقم هاتف ولي الأمر - واتس آب</mat-label>

      </div>
      <mat-form-field class="w-100" appearance="outline">
        <input matInput>
      </mat-form-field>
    </div>
  </div>

    <div>
      <mat-label class="label">البريد الإلكتروني</mat-label>
    </div>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
        </mat-form-field>

    <div>
      <mat-label class="label">عنوان السكن بالتفصيل(مدينة - شارع - رقم المنزل)</mat-label>

    </div>
    <mat-form-field class="w-100" appearance="outline">
      <input matInput>
    </mat-form-field>



  </div>


    <button class="w-100" type="button" (click)="next()">التالي</button>
  </section>

