<div class="d-flex flex-lg-row flex-column fixed-height">
  <img class="logo" src="assets/images/design logo.png">
  <section class="container">
    <div class="form">
    <div>
      <mat-label class="label">صورة شخصية 4 x6 خلفية بيضاء</mat-label>
    </div>
        <mat-form-field class="w-100">
          <input type="file"  appearance="fill">
          <hr>
        </mat-form-field>

        <div>
          <mat-label class="label">صورة البطاقة او شهادة</mat-label>
        </div>
            <mat-form-field class="w-100">
              <input type="file"  appearance="fill">
              <hr>
            </mat-form-field>

            <div>
              <mat-label class="label">كارنية مركز الشباب او النادي</mat-label>
            </div>
                <mat-form-field class="w-100">
                  <input type="file"  appearance="fill">
                  <hr>

                </mat-form-field>

                <div>
                  <mat-label class="label">اثبات قيد الدراسي او الكارنيه الدراسي</mat-label>
                </div>
                    <mat-form-field class="w-100">
                      <input type="file"  appearance="fill">
                      <hr>

                    </mat-form-field>


  </div>


    <button class="w-100" type="button">التالي</button>
  </section>
</div>
