<section class="container">
  <div class="form">
  <div>
    <mat-label class="label">صورة شخصية 4 x6 خلفية بيضاء</mat-label>
  </div>
        <input type="file" class="w-100" appearance="fill">
        <hr>
      <div>
        <mat-label class="label">صورة البطاقة او شهادة</mat-label>
      </div>
            <input type="file" class="w-100" appearance="fill">
            <hr>

          <div>
            <mat-label class="label">كارنية مركز الشباب او النادي</mat-label>
          </div>
                <input type="file" class="w-100" appearance="fill">
                <hr>

              <div>
                <mat-label class="label">اثبات قيد الدراسي او الكارنيه الدراسي</mat-label>
              </div>
                    <input type="file" class="w-100"  appearance="fill">
                    <hr>
</div>
<button mat-button matStepperNext class="w-100">التالي</button>
</section>
