<div class="d-flex flex-lg-row flex-column fixed-height">
  <img class="logo" src="assets/images/design logo.png">
  <section class="container">
    <div class="form">
      <div class="d-flex">
      <div class="input-field">
        <div>
          <mat-label class="label">السنة الدراسية</mat-label>
        </div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-select matNativeControl required placeholder="اختر"></mat-select>
            </mat-form-field>
      </div>

      <div class="input-field">
      <div>
        <mat-label class="label">المرحلة الدراسية</mat-label>

      </div>
      <mat-form-field class="w-100" appearance="outline">
        <mat-select matNativeControl required placeholder="اختر"></mat-select>
      </mat-form-field>
    </div>
  </div>

    <div>
      <mat-label class="label">اسم المدرسة/الجامعة/المعهد</mat-label>
    </div>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
        </mat-form-field>

        <div class="d-flex">
          <div class="input-field">
            <div>
              <mat-label class="label">درجة إجادة اللغة</mat-label>
            </div>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select matNativeControl required placeholder="اختر"></mat-select>
                </mat-form-field>
          </div>

          <div class="input-field">
          <div>
            <mat-label class="label">مهارات اللغة</mat-label>

          </div>
          <mat-form-field class="w-100" appearance="outline">
            <mat-select matNativeControl required placeholder="اختر"></mat-select>
          </mat-form-field>
        </div>
      </div>

    <div>
      <mat-label class="label">اذكر الدورات التدريبية الحاصل عليها</mat-label>

    </div>
    <mat-form-field class="w-100" appearance="outline">
      <input matInput>
    </mat-form-field>



  </div>


    <button class="w-100" type="button" (click)="next()">التالي</button>
  </section>
</div>
