<div class="register-form d-flex justify-content-center align-content-center ">
<mat-card>
  <h2 class="text-center">Registration</h2>
  <img class="log" src="assets/images/login logo.png">
<form class="form" [formGroup]="registerForm">
  <fieldset class="row justify-content-center align-content-center text-center">
    <app-shared-form
    [control]="$any(registerForm.controls['username'])"
    type="text"
    inputId="username"
    label="User Name"
    [required] = "true">
    </app-shared-form>

        <app-shared-form

        [control]="$any(registerForm.controls['email'])"
        type="email"
        inputId="email"
        label="Email"
        [required] = "true">
        </app-shared-form>
        <mat-error
        *ngIf="registerForm.controls['email'].invalid &&
        (registerForm.controls['email'].touched || registerForm.controls['email'].dirty)"
      >
        <mat-error *ngIf="registerForm.controls['email'].hasError('required')" class="text-danger">Email is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].hasError('email')" class="text-danger">Email must
          <strong>contain @ </strong>
        </mat-error>
      </mat-error>

    <app-shared-form
    [control]="$any(registerForm.controls['password'])"
    type="text"
    inputId="password"
    label="Password"
    [required] = "true">
    </app-shared-form>
    <mat-error
    *ngIf="registerForm.controls['password'].invalid &&
    (registerForm.controls['password'].touched)">
    <mat-error *ngIf="registerForm.controls['password'].hasError('required')" class="text-danger">Password is
      <strong>required</strong>
    </mat-error>
  </mat-error>

    <app-shared-form
    [control]="$any(registerForm.controls['confirmPassword'])"
    type="text"
    inputId="confirmPassword"
    label="Confirm Password"
    [required] = "true">
    </app-shared-form>
    <mat-error
    *ngIf="registerForm.controls['confirmPassword'].invalid &&
    (registerForm.controls['confirmPassword'].touched)">
    <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')" class="text-danger">
      Confirm Password is<strong> required</strong>
    </mat-error>
  </mat-error>

  <div class="text-danger pass-message" *ngIf="registerForm?.errors?.['mismatch'] && registerForm?.touched">Password must <strong>match</strong> </div>
  <button class="register-button rounded" type="submit" (click)="addUser()">Register</button>
</fieldset>
</form>
</mat-card>
</div>


