<div class="d-flex flex-lg-row flex-column fixed-height">
  <img class="logo" src="assets/images/design logo.png">
  <section class="container">
    <div class="form">
      <div class="d-flex">
      <div class="input-field">
        <div>
          <mat-label class="label">الرقم القومي</mat-label>
        </div>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput placeholder="ادخل الرقم القومي 14 رقم">
            </mat-form-field>
      </div>

      <div class="input-field">
      <div>
        <mat-label class="label">الاسم الرباعي</mat-label>

      </div>
      <mat-form-field class="w-100" appearance="outline">
        <input matInput placeholder="ادخل اسمك الرباعي باللغة العربية">
      </mat-form-field>
    </div>
  </div>

    <div>
      <mat-label class="label"> الجهة التابعة</mat-label>
    </div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select matNativeControl required placeholder="اختر"></mat-select>
        </mat-form-field>

<div class="d-flex">
  <div class="input-field">
    <div>
      <mat-label class="label">القسم الاداري</mat-label>

    </div>
    <mat-form-field class="w-100" appearance="outline">
      <mat-select matNativeControl required placeholder="اختر"></mat-select>
    </mat-form-field>
  </div>
      <div class="input-field">
        <div>
          <mat-label class="label">المحافظة</mat-label>
        </div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-select matNativeControl required placeholder="اختر"></mat-select>
            </mat-form-field>
      </div>


  </div>

  <div>
    <mat-label class="label">تاريخ الميلاد</mat-label>
  </div>
      <mat-form-field class="w-100" appearance="outline">
        <input matInput>
      </mat-form-field>

      <div class="d-flex">
        <div class="input-field">
          <div>
            <mat-label class="label">هل لديك إعاقة</mat-label>
          </div>
              <mat-form-field class="w-100" appearance="outline">
                <mat-select matNativeControl required placeholder="اختر"></mat-select>
              </mat-form-field>
        </div>

        <div class="input-field">
        <div>
          <mat-label class="label">الديانة</mat-label>

        </div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select matNativeControl required placeholder="اختر"></mat-select>
        </mat-form-field>
      </div>
      <div class="input-field">
        <div>
          <mat-label class="label">النوع</mat-label>

        </div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select matNativeControl required placeholder="اختر"></mat-select>
        </mat-form-field>
      </div>
    </div>
</div>

    <button class="w-100" type="button">التالي</button>
  </section>
</div>
